<main>
  <section class="row m-5 p-5 text-center">
    <div class=" col-md-3 ml-5">
      <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" class=" card-img-top shadow-lg rounded"
        alt="movie poster">
    </div>
    <article class="col-md-7 text-left ml-5 mr-5">
      <h1 class="font-weight-bold">{{data.original_title}}</h1>
      <p class="text-right">{{data.tagline}}</p>
      <h3>Overview</h3>
      <p class="text-justify">{{data.overview}}</p>
      <p><b>Runtime</b> : {{data.runtime}} minutes</p>
      <p><b>Revenue</b> : ${{data.revenue}}</p>
      <div> <b>Production</b> :
        {{#each  data.production_companies}}
        {{#if this.logo_path}}
        <img src="https://image.tmdb.org/t/p/w500/{{this.logo_path}}" class="m-3" width="80px">
        {{/if}}
        {{/each}}
      </div>
    </article>
  </section>
</main>